.contact-us-main{
    height: 35rem;
    width: 100%;
    background-color: rgb(234, 234, 255);
   
    display: flex;

}
.contact-us-child1{
    color: rgb(48, 48, 255);
    font-size: 4rem;
    text-align: center;
    /* justify-content: center;
    align-items: center; */
    height: 100%;
    width: 55%;
    /* border: 1px solid; */
    padding-top: 13rem;
    font-weight: 550;
}

.contact-us-child2{
    width: 45%;
    /* background-image: url("https://media.istockphoto.com/id/1402050056/photo/contact-us-hand-of-man-holding-mobile-smartphone-with-phone-email-chat-icon-cutomer-support.webp?b=1&s=170667a&w=0&k=20&c=Guy1ffy69lTgvAi8BX3M6BetQWruocpGFm5ZDoKY0UM=");
    background-size: 100% 100%; */
}

@media only screen and (min-width: 414px) and (max-width: 768px) {

   

   
    .contact-us-child1{
        /* color: aqua; */
        font-size: 2rem;
        text-align: center;
        /* justify-content: center;
        align-items: center; */
        height: 100%;
        width: 55%;
        /* border: 1px solid; */
        padding-top: 10rem;
    }
    
    .contact-us-child2{
        width: 45%;
        /* border: 1px solid yellow; */
    }

  }

  @media only screen and (max-width: 414px) {

    .contact-us-main{
        height: 35rem;
        width: 100%;
        /* background-color: rgb(38, 38, 172); */
        display: flex;
        flex-direction: column;
    
    }

    .contact-us-child1{
        /* color: yellow; */
        font-size: 2rem;
        text-align: center;
        /* justify-content: center;
        align-items: center; */
        height: 50%;
        width: 100%;
        /* border: 1px solid; */
        padding-top: 10rem;
    }
    
    .contact-us-child2{
        width: 100%;
        height: 50%;
        /* border: 1px solid yellow; */
    }
    
  }